{% extends 'base.html' %}

{% block title %}Create user{% endblock %}

{% block body %}

<div class="jumbotron col-md-8 col-md-offset-2">
    <form class="form-signin" method="post"> {% csrf_token %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p><strong>:(</strong> Неудача</p>
            </div>
        {% endif %}

        <h2 class="form-signin-heading">Регистрация</h2>

        <label for="id_username" class="sr-only">Логин</label>
        <input type="text" id="id_username" maxlength="254" class="form-control" placeholder="Логин" name="username" autofocus="" required="" autocomplete="off">

        <label for="id_password1" class="sr-only">Пароль</label>
        <input type="password" id="id_password1" name="password1" class="form-control" placeholder="Пароль" required="" autocomplete="off">

        <label for="id_password2" class="sr-only">Подтверждение пароля</label>
        <input type="password" id="id_password2" name="password2" class="form-control" placeholder="Подтверждение пароля" required="" autocomplete="off">

        <button class="btn btn btn-primary btn-block" type="submit">Войти</button>
    </form>
</div>
{% endblock %}