{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="jumbotron col-md-8 col-md-offset-2">
    <form class="form-signin" method="post">
        {% if form.errors %}
            <div class="alert alert-danger">
                <p><strong>:(</strong> Введите корректные логи и пароль</p>
            </div>
        {% endif %}
        {% csrf_token %}
        <h2 class="form-signin-heading">Вход</h2>
        <a href="{% url 'create_user' %}">Регистрация</a>

        <label for="id_username" class="sr-only">Логин</label>
        <input type="text" id="id_username" maxlength="254" class="form-control" placeholder="Логин" name="username" autofocus="" required="" autocomplete="off">

        <label for="id_password" class="sr-only">Пароль</label>
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Пароль" required="" autocomplete="off">


        <button class="btn btn btn-primary btn-block" type="submit">Войти</button>
    </form>
</div>
{% endblock %}