{% load utils %}

<form class="form-signin" method="post" id="add_note"> {% csrf_token %}
    <input type="hidden" name="note_id" value="">
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
                {{ field|addcss:"form-control" }}
                {% if field.help_text %}<div class="note">{{ field.help_text }}</div>{% endif %}
                {{ field.errors }}
        </div>
    {% endfor %}
    <button class="btn btn btn-primary btn-block" type="submit">Add</button>
</form>