{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Main{% endblock %}


{% block extra_head %}
    <link href="{% static "css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dataTables.bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/Russian.js" %}"></script>
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>

{% endblock %}


{% block body %}
    {% csrf_token %}
    <h1>Hello {{  user.username  }}</h1>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active in" id="home">
            <div class="table-responsive">
                <table class="table table-bordered" id="table-notes" width="100%">
                    <thead>
                        <tr class="active">
                            <th>Заголовок</th>
                            <th>Текст</th>
                            <th>Категория</th>
                            <th>Избранное</th>
                            <th>Дата</th>
                            <th>Опубликовано</th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Заголовок</th>
                            <th>Текст</th>
                            <th>Категория</th>
                            <th>Избранное</th>
                            <th>Дата</th>
                            <th>Опубликовано</th>
                            <th>Действия</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab_add_note">
            {% include 'add_note.html' %}
        </div>
    </div>

{% endblock %}