{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ note.title }}{% endblock %}

{% block body %}

    <h2>{{ note.title }}</h2>
    <h4>{{ note.category.name }}</h4>
    <h5>{{ note.modified|date:'Y-m-d H:i' }}</h5>

    <div>
        {{ note.text }}
    </div>
{% endblock %}