{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}

</head>

<body>

    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right" role="tablist">
                    {% if not user.is_authenticated %}
                        <li role="presentation"><a href="{% url 'login' %}">Вход</a></li>
                    {% else %}
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">{{ user.username }}</a></li>
                        <li role="presentation"><a href="#tab_add_note" aria-controls="add_note" role="tab" data-toggle="tab">Добавить заметку</a></li>
                        <li role="presentation"><a href="{% url 'logout' %}">выйти</a></li>
                    {% endif %}
                </ul>
            </nav>
            <h3 class="text-muted">Менеджер заметок</h3>
        </div>

        {% block body %}{% endblock %}

    </div> <!-- /container -->
</body>
</html>